:root {
    --background: #e3f6f5;
    --card-background: #fffffe;
    --headline: #272343;
    --sub-headline: #2d334a;
    --card-paragraph: #2d334a;
    
    --stroke: #272343;
    --ico-secondary: #e3f6f5;
    --ico-highlight: #ffd803;
    --ico-tertiary: #bae8e8;

}

#uid {
    display: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0 40px;
    flex-wrap: wrap;
}

.overlay{
    visibility: hidden;
    opacity: 0;
    display: flex;
    /* align-items: center; */
    padding-top: 20px;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(39,35,67,95%);
    z-index: 1;
}


.overlay.visible {
    transition:visibility 0.2s linear,opacity 0.2s linear;
    visibility: visible;
    opacity: 1;
}

.form-container {
    /* min-width: 200px; */
    height: min-content;
    background-color: var(--card-background);
    opacity: 100%;
    padding: 30px 20px;
    border: 3px solid var(--stroke);
    border-radius: 10px;
    flex-grow: 1;
    margin: 20px;
    max-width: 500px;
}

.form-container .button-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.form-container input{
    padding:5px;
}

.form-container input[type="checkbox"] {
    position: relative;
    top: 2px;
}

.form-container h2{
    margin: 0;
}

.form-container > * {
    display: flex;
    flex-direction: column;
}

.accent{
    color: var(--ico-tertiary);
    -webkit-text-stroke: 2px var(--stroke);
    margin-left: 5px;
}

input {
    display: block;
}

input[type="checkbox"]{
    display: inline-block;
}

.bookshelf input[type="checkbox"] {
    display: none;
}

.book > .checkbox:has(input[type="checkbox"]) {
    background-color: #ededed;
    margin-top: 5px;
    transition: all ease-in-out 0.2s;
}

.book > .checkbox:has(input[type="checkbox"]:checked) {
    background-color: rgb(205, 233, 144);

}

.bookshelf div.checkbox label {
    cursor: pointer;
}

.bookshelf div.checkbox > label::before {
    content: 'Not';
}

/* Using CSS to conditionally update read status */
.bookshelf div.checkbox:has(input[type="checkbox"]:checked) label::before {
    content: '';
}

body {
    background-color: var(--background);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    padding: 15px;
}

.bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    grid-auto-rows: 1fr;
    gap: 15px;
}

.x{
    background-image: url(./images/red-x-line-icon.png);
    background-size: cover;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 10%;
}

.x:hover{
   background-image: url(./images/red-x-icon.png);
   opacity: 100%; 
}

label{
   display: block;
   user-select: none;
}

.book{
    background-color: var(--card-background);
    display: grid;
    grid-template-rows: 1fr max-content max-content max-content;
    position: relative;
    border-radius: 10px;
    padding: 20px 15px;
    text-align: center;
    /* height: 200px; */
    box-sizing: border-box;
    box-shadow: 4px 4px 10px #bae8e8;
}

.title, .author, .pages {
    margin-bottom: 10px;
    align-self: center;
    color: var(--card-paragraph);
    word-break: break-word;
}

.author {
    text-transform: uppercase;
}


/* Conversion to Flex Layout */
.bookshelf.flex{
    display: flex;
    flex-wrap: wrap;
}

.book.flex{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 350px;
    height:fit-content;
}

.book.flex .title{
    align-self: auto;
}

.title {
    color: var(--headline);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.author {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.checkbox {
    border-radius: 15px;
    padding: 3px;
    bottom: 0;
}


.pages::after {
    content: " pages"
}


.book.template {
    display: none;
}

.add{
    appearance: none;
    border: 0;
    background-color: rgba(0,0,0,0%);
    background-image: url(./images/mathematics-sign-plus-outline-icon.svg);
    background-size: contain;
    opacity: 80%;
    transition: ease-in 0.2s;
    width: 5rem;
    height: 5rem;
    align-self: center;
    justify-self: center;
    order: 9999;
    cursor:pointer;
}

.add:hover {
    background-image: url(./images/mathematics-sign-plus-round-icon.svg);
    opacity: 1;
}

@media only screen and (max-width: 400px) {
    .bookshelf {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 15px;
        grid-auto-rows: min-content;
    }

    .header h1 {
        font-size: 1rem;
    }
    
    .book{
        height: fit-content;
    }
}

#modify-button{
    display: none;
}

#submit-button{
    
}